<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="fpl"
            icon="icons/Facpl.png"
            id="it.unifi.xtext.facpl.Facpl2"
            name="Facpl2 Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="it.unifi.xtext.facpl.Facpl2.validate">
         <activeWhen>
            <reference
                    definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="it.unifi.xtext.facpl.Facpl2.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="it.unifi.xtext.facpl.Facpl2.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="it.unifi.xtext.facpl.Facpl2" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="it.unifi.xtext.facpl.Facpl2.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="it.unifi.xtext.facpl.Facpl2" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="it.unifi.xtext.facpl.Facpl2"
            name="Facpl2">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
        </page>
        <page
            category="it.unifi.xtext.facpl.Facpl2"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="it.unifi.xtext.facpl.Facpl2.coloring"
            name="Syntax Coloring">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
        </page>
        <page
            category="it.unifi.xtext.facpl.Facpl2"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="it.unifi.xtext.facpl.Facpl2.templates"
            name="Templates">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="it.unifi.xtext.facpl.Facpl2"
            name="Facpl2">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="it.unifi.xtext.facpl.ui.keyword_Facpl2"
            label="Facpl2"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="it.unifi.xtext.facpl.Facpl2.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="it.unifi.xtext.facpl.Facpl2.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="it.unifi.xtext.facpl.Facpl2.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fpl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fpl">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for it.unifi.xtext.facpl.Facpl2 -->
	<extension
	        id="facpl2.check.fast"
	        name="Facpl2 Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="facpl2.check.normal"
	        name="Facpl2 Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="facpl2.check.expensive"
	        name="Facpl2 Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <!--
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="fpl"
            >
      </participant>
   </extension>
   -->
   
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="it.unifi.xtext.facpl.Facpl2"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="it.unifi.xtext.facpl.Facpl2.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="it.unifi.xtext.facpl.Facpl2"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="it.unifi.xtext.facpl.Facpl2.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="it.unifi.xtext.facpl.Facpl2.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="it.unifi.xtext.facpl.Facpl2"
	        class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="it.unifi.xtext.facpl.Facpl2.refactoring"
	        name="Refactoring">
	        <keywordReference id="it.unifi.xtext.facpl.ui.keyword_Facpl2"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="it.unifi.xtext.facpl.Facpl2.compare.contentViewers"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fpl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="it.unifi.xtext.facpl.Facpl2.compare.contentMergeViewers"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fpl" label="Facpl2 Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="it.unifi.xtext.facpl.Facpl2.editors.documentProviders"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fpl">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="fpl"
            type="text">
    </fileTypes>
  </extension>

<!-- START NEW UI FACETS -->

<!-- popup menu -->
 
   <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
    	<menu label="Facpl"
    	 icon="icons/Facpl.png">
    	 <command
           commandId="it.unifi.xtext.facpl.ui.popup.actions.GenerateCommand"
           style="push">
             <visibleWhen
                  checkEnabled="false">
                  <iterate>
       		<adapt type="org.eclipse.core.resources.IResource">
          		<test property="org.eclipse.core.resources.name" 
                value="*.fpl"/>
       		</adapt>
    			</iterate>
            </visibleWhen>
        </command>
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBCommand"
               style="push">
        	 <visibleWhen
                  checkEnabled="false">
                  <iterate>
       		<adapt type="org.eclipse.core.resources.IResource">
          		<test property="org.eclipse.core.resources.name" 
                value="*.fpl"/>
       		</adapt>
    			</iterate>
            </visibleWhen>
        </command>
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyCommand"
               style="push">
        	 <visibleWhen
                  checkEnabled="false">
                  <iterate>
       		<adapt type="org.eclipse.core.resources.IResource">
          		<test property="org.eclipse.core.resources.name" 
                value="*.fpl"/>
       		</adapt>
    			</iterate>
            </visibleWhen>
        </command>
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyCommand"
               style="push">
        	 <visibleWhen
                  checkEnabled="false">
                  <iterate>
       		<adapt type="org.eclipse.core.resources.IResource">
          		<test property="org.eclipse.core.resources.name" 
                value="*.fpl"/>
       		</adapt>
    			</iterate>
            </visibleWhen>
        </command>
        <command
           commandId="it.unifi.xtext.facpl.ui.popup.actions.XMLCommand"
           style="push">
             <visibleWhen
                  checkEnabled="false">
                  <iterate>
       		<adapt type="org.eclipse.core.resources.IResource">
          		<test property="org.eclipse.core.resources.name" 
                value="*.fpl"/>
       		</adapt>
    			</iterate>
            </visibleWhen>
        </command>
        <!--GENERATOR OF FACPL CODE FROM XML -->
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.XACMLTOFACPLCommand"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                     <iterate>
                    <adapt type="org.eclipse.core.resources.IResource">
          				<test property="org.eclipse.core.resources.name" 
                		value="*.xml"/>
       				</adapt> 
       				</iterate>
               </visibleWhen>
        </command>
        </menu>
    </menuContribution>
	</extension>
  <!-- popup menu on active editor -->
  
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?after=additions">
    <menu label="Facpl"
    	 icon="icons/Facpl.png">
        <command
            commandId="it.unifi.xtext.facpl.ui.popup.actions.GenerateEditorCommand"
            icon="icons/blue.png"
            style="push">
            <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
       	<command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyEditorCommand"
               icon="icons/blue.png"
               style="push">
        	 <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyEditorCommand"
               icon="icons/blue.png"
               style="push">
        	 <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
        <command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBEditorCommand"
               icon="icons/blue.png"
               style="push">
        	 <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
        <command
            commandId="it.unifi.xtext.facpl.ui.popup.actions.XMLEditorCommand"
            icon="icons/blue.png"
            style="push">
            <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
        </menu>
    </menuContribution>
</extension>
  
   <!-- handler and command -->
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.GenerateFacplCode"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.GenerateCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.GenerateEditorFacplCode"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.GenerateEditorCommand">
     </handler>   
  </extension>
  
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.XMLCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.XMLCommand">
     </handler>   
  </extension>

 <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.XMLEditorCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.XMLEditorCommand">
     </handler>   
  </extension>
 
  
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.SMTLIBCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBCommand">
     </handler>   
  </extension>
  
  
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.SMTLIBEditorCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBEditorCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.XACMLTOFACPLCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.XACMLTOFACPLCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyEditorCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyEditorCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyCommand">
     </handler>   
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyEditorCommand"
           commandId="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyEditorCommand">
     </handler>   
  </extension>
  
  <!--command-->
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Java Code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.GenerateCommand">
        </command>
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Java Code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.GenerateEditorCommand">
        </command>
  </extension>
    
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate SMT-LIB code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBCommand">
        </command>
  </extension>  
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate SMT-LIB code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBEditorCommand">
        </command>
  </extension>  
    
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate XACML Code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.XMLCommand">
        </command>
  </extension>

  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate XACML Code From FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.XMLEditorCommand">
        </command>
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Translate XACML to FACPL"
              id="it.unifi.xtext.facpl.ui.popup.actions.XACMLTOFACPLCommand">
        </command>
  </extension>
  
   <extension
        point="org.eclipse.ui.commands">
        <command name="Create Security Property..."
              id="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyCommand">
        </command>
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Create Security Property..."
              id="it.unifi.xtext.facpl.ui.popup.actions.SecurityPropertyEditorCommand">
        </command>
  </extension>
  
   <extension
        point="org.eclipse.ui.commands">
        <command name="Create Structural Property..."
              id="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyCommand">
        </command>
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
        <command name="Create Structural Property..."
              id="it.unifi.xtext.facpl.ui.popup.actions.StructuralPropertyEditorCommand">
        </command>
  </extension>
  
<!-- Wizard -->
  
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="it.unifi.xtext.facpl.ui"
            name="Facpl">
      </category>
      
      <!-- New File wizard -->
      <wizard
            category="it.unifi.xtext.facpl.ui"
            class="it.unifi.xtext.facpl.ui.wizard.NewFacplFileWizard"
            icon="icons/Facpl.png"
            id="it.unifi.xtext.facpl.ui.wizards.NewFacplWizard"
            name="Facpl File">
      </wizard>
    
      <wizard
            category="it.unifi.xtext.facpl.ui"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.wizard.Facpl2NewProjectWizard"
            icon="icons/Facpl.png"
            id="it.unifi.xtext.facpl.ui.wizard.Facpl2NewProjectWizard"
            name="Facpl Development Project"
            project="true">
      </wizard>
    
   </extension>

   <!--<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="it.unifi.xtext.facpl.ui.Facpl2ExecutableExtensionFactory:it.unifi.xtext.facpl.ui.wizard.Facpl2NewProjectWizard"
            id="it.unifi.xtext.facpl.ui.wizard.Facpl2NewProjectWizard"
            name="Facpl2 Project"
            project="true">
      </wizard>
   </extension>-->


 <!-- menu top botton -->
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
            <menu  label="Facpl">
         	<command
           	commandId="it.unifi.xtext.facpl.ui.popup.actions.GenerateEditorCommand"
           	style="push">
           	<visibleWhen
               checkEnabled="false">
               	<reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	            </reference>
        	</visibleWhen>
        	</command>
        	
        	<command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.SMTLIBCommand"
               style="push">
               <visibleWhen
               checkEnabled="false">
               	<reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	            </reference>
        	</visibleWhen>
        	</command>
        	
        	<separator
                  name="additions"
                  visible="true">
       		</separator>
       		
       		<command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.XMLCommand"
               style="push">
               <visibleWhen
               checkEnabled="false">
               	<reference
	                     definitionId="it.unifi.xtext.facpl.Facpl2.Editor.opened">
	            </reference>
        		</visibleWhen>
        	</command>
        	
        	<command
               commandId="it.unifi.xtext.facpl.ui.popup.actions.XACMLTOFACPLCommand"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                     <iterate>
                    <adapt type="org.eclipse.core.resources.IResource">
          				<test property="org.eclipse.core.resources.name" 
                		value="*.xml"/>
       				</adapt> 
       				</iterate>
               </visibleWhen>
        	</command>
         </menu>
      </menuContribution>
   </extension>
   
   <!-- toolbar -->


</plugin>
